{% load static%}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "{%static 'css/index.css'%}">
</head>
<body>
<h2><center>ABOUT</center></h2>
    <CENTer><hr style="height:2px;width:50px;color:blue;background-color:blue">
    </CENTer>
<p>
    This is the sample paragraph contains the title of the owner and developed for the purpose of learning.     This is the sample paragraph contains the title of the owner and developed for the purpose of learning.

    This is the sample paragraph contains the title of the owner and developed for the purpose of learning.

</p>


<p><center><h3 style="color:blue;">  Associate Software Engineer</h3></center></p>
<div style="margin-left: 30%;"><b><u>Sai Hitesh Gorantla</u></b> 
<table>
    <tr>
        <td>
            <b>Birthday: </b> 23-06-2001
        </td>
        <td style="width: auto;">
            <b>Wesite: </b> www.hiteshgorantla.com
        </td>
    </tr>
    <TR>
        <td><b>Phone: </b> 7732934098</td>
        <td><b>Email: </b> saihitesh@gmail.com</td>
    </TR>
</table>
</div>

<div>
<img src="https://images.unsplash.com/photo-1484591974057-265bb767ef71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
 alt="Landscape" height="30%" width="20%" style=" border-radius: 50%;" >
 
</div>
 <h3><i> <marquee behavior="t" direction="right">Landscape View</marquee></i></h3>


 <section class="cardbox">
  <div class="box"> 
    <img src="https://th-i.thgim.com/public/incoming/o6bohp/article65218510.ece/alternates/FREE_1200/IMG_BL16-HDFC-MKT_2_1_2S82NO6A.jpg" alt="bank1" height="200px" width="300px">
    <h3>
        <div class="cardcontent"><br> loan interest 8.3% <br>
    <a href="">Get More details</a></div></h3>
  </div>
  <div class="box"> 
    <img src="https://content.jdmagicbox.com/comp/bangalore/29/080pmulti23629/catalogue/axis-bank-ltd-sahakara-nagar-bangalore-private-sector-banks-3pk4hdl-250.jpg" alt="bank1" height="200px" width="300px">
    <h3>
        <div class="cardcontent"> <br> loan interest 8.3% <br>
    <a href="">Get More details</a></div></h3>
  </div>
  <div class="box"> 
    <img src="https://th-i.thgim.com/public/incoming/o6bohp/article65218510.ece/alternates/FREE_1200/IMG_BL16-HDFC-MKT_2_1_2S82NO6A.jpg" alt="bank1" height="200px" width="300px">
    <h3>
        <div class="cardcontent"><br> loan interest 8.3% <br>
    <a href="">Get More details</a></div></h3>
  </div>
  <div class="box"> 
    <img src="https://th-i.thgim.com/public/incoming/o6bohp/article65218510.ece/alternates/FREE_1200/IMG_BL16-HDFC-MKT_2_1_2S82NO6A.jpg" alt="bank1" height="200px" width="300px">
    <h3><div class="cardcontent"><br> loan interest 8.3% <br>
    <a href="">Get More details</a></div></h3>
  </div>
 </section>
 <br>
 <br>
 <br>
 <div>
    <!-- <table border = "2">
        <tr>
            <td rowspan="2">empName</td>
            <td colspan="2">Hello    </td>
        </tr>
        <tr>
            <td colspan="2">empName</td>
            <td colspan="2">Hello    </td>
        </tr>
        <tr>
            <td colspan="2">empName</td>
            <td>123    </td>
            <td>232</td>
        </tr>
    </table> -->
 </div>
</body>
</html>